# Dataset original
*.csv

# Credenciais do Kaggle
kaggle.json

# Arquivos temporários do Python
__pycache__/
*.pyc

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db